
.sudoku-board{
    --gap-size: 5px;
    --cell-margin: 2px;
    --board-color:  rgb(143, 190, 127);
    --transparency: 0.1;
    --focus-color-field:  rgb(248, 238, 217);
    --focus-color-border:  rgb(255, 193, 48);
}

.sudoku-board {
    width: 100%;
    margin: 0 auto;
    background-color:var(--board-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sudoku-board__table {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr); */
    /* background-color: rgb(34, 122, 76); */
    padding: 10px 12px 20px 20px;
}

.sudoku-board__table-body{
    /* border: solid 2px rgb(34, 122, 76); */
   margin: 0 auto;
   

}
.sudoku-board__table-row, .sudoku-board__table-col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.sudoku-board__table-row:nth-child(3n - 2)  {
    margin-top: var(--gap-size);
}

.sudoku-board__table-col:nth-child(3n+1){
    margin-left: var(--gap-size);
}
 
.sudoku-board__cell {
    outline: transparent;
    border: none;
    margin: var(--cell-margin);
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
   
}
.sudoku-board__cell:focus{
    outline: 2px solid  var(--focus-color-border);
    background-color: var(--focus-color-field);
}

.sudoku-board__cell:disabled{
    background-color: rgb(208, 238, 198);
 
}
/*////////////////////////////////////////////////////////////////////*/

.sudoku-board2{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(221, 251, 249);
}
.sudoku-board__table2{
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 106, 201);
    padding-right: 5px;
}


.sudoku-board__cell2{
    outline: none;
    border: 1px solid  rgb(133, 133, 244);
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(206, 245, 239);
}

.sudoku-board__table-row2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    /* border: solid 2px red; */
}
.sudoku-board__table-row2:nth-child(3n -2)  {
 
    padding-top: 5px
}
.sudoku-board__table-col2:nth-child(3n - 2)  {
  
    margin-left: 5px;
}

 